In [5]:
import pandas as pd
import numpy as np

### 1.) How likely is it that you roll doubles when rolling two dice?

In [6]:
rolls = np.random.choice([1,2,3,4,5,6], size=(10_000, 2))
df = pd.DataFrame(rolls)

In [7]:
is_double = df[0] == df[1]

chances_of_rolling_doubles = (is_double).mean()

chances_of_rolling_doubles

0.1694

### 2.) If you flip 8 coins, what is the probability of getting exactly 3 heads?

In [8]:
flips = np.random.choice([1, 0], size=(10_000, 8))

number_of_heads = flips.sum(axis=1)

In [9]:
number_of_heads
exactly_3_heads = number_of_heads == 3

(exactly_3_heads).mean()

0.2129

### What is the probability of getting more than 3 heads?

In [10]:
more_than_3_heads = number_of_heads > 3
(more_than_3_heads).mean()

0.6426

### 3.) There are approximitely 3 web development cohorts for every 1 data science cohort at Codeup. Assuming that Codeup randomly selects an alumni to put on a billboard, what are the odds that the two billboards I drive past both have data science students on them?

In [11]:
# 1 representing my data web_dev = 0, DS = 1
# 2 creating the matrix
codeup = np.random.choice([0 ,1], size=(10_000, 2), p=[.75, .25])

In [12]:
codeup_alumni = codeup.sum(axis=1)
alumni_billboard = codeup_alumni == 2
(alumni_billboard).mean()

0.0609

### 4.) Codeup students buy, on average, 3 poptart packages (+- 1.5) a day from the snack vending machine. If on monday the machine is restocked with 17 poptart packages, how likely is it that I will be able to buy some poptarts on Friday afternoon?

In [13]:
poptarts = np.random.normal(3, 1.5, size=(10_000, 5))
total_poptarts = poptarts.sum(axis=1)

In [14]:
total_poptarts
probability_poptarts = total_poptarts <= 16

(probability_poptarts).mean()

0.6074

### 5.) Compare Heights:

- Men have an average height of 178 cm and standard deviation of 8cm.

In [15]:
man_height = np.random.normal(178, 8, size=10_000)
man_height

array([180.36955631, 171.08876147, 172.81489168, ..., 175.25175696,
       176.51270886, 166.36569309])

- Women have a mean of 170, sd = 6cm.

In [16]:
woman_height = np.random.normal(170, 6, size=10_000)
woman_height

array([172.7272776 , 166.50768744, 166.19525875, ..., 163.15707147,
       167.53920486, 171.07111617])

 
- If a man and woman are chosen at random, P(woman taller than man)?

In [17]:
df1 = pd.DataFrame(list(zip(man_height, woman_height)), columns=["man_height", "woman_height"])

df1

      man_height  woman_height
0     180.369556    172.727278
1     171.088761    166.507687
2     172.814892    166.195259
3     181.931764    166.401674
4     169.475449    164.621889
...          ...           ...
9995  189.334281    173.703016
9996  182.783552    162.510543
9997  175.251757    163.157071
9998  176.512709    167.539205
9999  166.365693    171.071116

[10000 rows x 2 columns]

In [18]:
woman_percent = df1['woman_height'] > df1['man_height']

(woman_percent).mean()

0.2075

### 6.) When installing anaconda on a student's computer, there's a 1 in 250 chance that the download is corrupted and the installation fails. What are the odds that after having 50 students download anaconda, no one has an installation issue?

In [19]:
1/250
1.0 - .004

0.996

In [27]:
one_in_50 = np.random.choice([0, 1], size=(10_000, 50), p=[1/250,249/250])
(one_in_50).mean()

0.995972

## 100 students?

In [21]:
one_in_100 = np.random.choice([1,0], size=(10_000, 100), p=[.996, .004])
(one_in_100).mean()

0.995926

- What is the probability that we observe an installation issue within the first 150 students that download anaconda?

In [22]:
one_in_150 = np.random.choice([0,1], size=(10_000, 150), p=[.996, .004])
(one_in_150).mean()

0.004030666666666667

- How likely is it that 450 students all download anaconda without an issue?

In [23]:
prob_450_students = np.random.choice([1, 0], size=(10_000, 450), p=[ .996, .004])

(prob_450_students).mean()

0.9959406666666667

### 7.) There's a 70% chance on any given day that there will be at least one food truck at Travis Park. However, you haven't seen a food truck there in 3 days. How unlikely is this?

In [28]:
food_truck = np.random.choice([0,1], size=(10_000, 3), p=[ .7, .3])

df_food_truck = pd.DataFrame(food_truck)

In [29]:
df_food_truck

      0  1  2
0     1  1  0
1     0  1  0
2     0  1  0
3     0  0  0
4     0  0  1
...  .. .. ..
9995  0  1  1
9996  0  0  1
9997  1  0  1
9998  0  0  1
9999  0  0  0

[10000 rows x 3 columns]

- How likely is it that a food truck will show up sometime this week?

In [66]:
food_truck = np.random.choice([1,0], size=(10_000, 7), p=[ .7, .3])
(food_truck).mean()

0.7027285714285715

### 8.) If 23 people are in the same room, what are the odds that two of them share a birthday? What if it's 20 people? 40?

In [68]:
23/365

0.06301369863013699

In [106]:
birthdays = np.random.choice(range(1,366), size=(10_000, 23) )

In [107]:
df_birthdays = pd.DataFrame(birthdays)


df_birthdays

#same_birthdays = df_birthday[]

#birthday_probility = same_birthday >= 2

#(birthday_probility).mean()

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,58,122,306,8,304,44,82,211,30,280,...,59,194,294,213,123,116,164,316,107,68
1,341,60,343,176,42,159,154,277,91,71,...,293,341,130,303,262,85,10,78,196,248
2,67,42,87,16,151,119,360,45,57,52,...,27,61,199,352,47,116,347,176,57,272
3,16,71,327,154,130,66,326,328,328,265,...,6,51,222,74,361,106,214,337,178,64
4,165,75,231,102,239,84,155,171,17,184,...,97,243,265,309,49,306,347,195,132,205
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,221,83,197,142,164,219,72,363,36,105,...,53,134,172,353,130,1,194,134,111,30
9996,47,37,51,35,360,298,16,139,264,149,...,350,330,40,357,94,60,81,359,142,86
9997,294,253,216,182,350,224,216,68,169,255,...,151,76,182,228,92,21,347,275,114,228
9998,65,97,56,250,246,307,209,253,230,177,...,201,156,326,171,81,18,326,146,337,272
9999,23,141,147,347,307,21,308,308,279,127,...,312,176,332,28,19,319,10,163,350,275

In [113]:
new_df = df_birthdays.nunique(axis=1) < 23

(new_df).mean()




#df_birthdays

#same_birthday = df_birthdays[0] == df_birthdays[1]

#(same_birthday).mean()

0.5119

In [118]:
twenty_birthdays = np.random.choice(range(1,366), size=(10_000, 20))
df_twenty = pd.DataFrame(twenty_birthdays)

In [120]:
new_twenty_df = df_twenty.nunique(axis=1) < 20

(new_twenty_df).mean()

0.4176

In [121]:
fourty_birthdays = np.random.choice(range(1,366), size=(10_000, 40))
df_fourty = pd.DataFrame(fourty_birthdays)

In [123]:
new_fourty_df = df_fourty.nunique(axis=1) < 40
(new_fourty_df).mean()

0.8903